body {
    line-height: 2 !important;
}

.nes-container,
#services {
    max-width: 1200px;
}

.hero,
#projects,
#about,
#services,
#contact {
    margin: 0 1em 5em 1em !important;

} 

.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5em;
}

.nav-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.nav-item {
    color: black;
}


.hero {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: flex-start;
    padding: 4em 1em;
}

.hero-subhead {
    max-width: 500px;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2em .5em;
    border-bottom: solid 2px black;
    margin-bottom: 2rem;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.card-img {
    align-self: flex-start;
    padding: .5em;
    border: solid 2px black;
}

#services .card {
    gap: 1rem;
}

.form-block {
    margin-bottom: 1em;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

.footer-mid {
    margin-bottom: 1em;
}

.copyright {
    font-size: 14px;
    display: flex;
    gap: .5em;
}